<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<% def emptyString = ""
   def imagePath = page.image ? "/images/${page.image}" : emptyString
%>
<header class="intro-header" style="background-image: url('${page.image ? r(imagePath) : emptyString}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                ${content}
            </div>
        </div>
    </div>
</header>
